p {
    color: orange;
}

#identyfikator {
    color: red;
}

.nazwa-klasy {
    color: blue;
}

p, a, div {
    color: red;
}

ul > li {
    color: darkgreen;
}

div a {
    color: fuchsia;
}

p + a {
    color: lightseagreen;
}

h3 ~ p {
    color: dimgray;
}

div > p:not(.last){
    color: brown;
}

div > p:nth-child(3) {
    color: darkslateblue;
}